*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    height: 100px;
}

#sign-in {
    list-style: none;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    border-radius: 0;
    -webkit-appearance: none;
}

.opac {
    background-color: rgba(245, 245, 245, 0.9);
}

#spacer {
    height: 50px;
}

#bg-img {
    height: 350px;
    background-image: url("../images/canoe_background.jpg");
    background-size: cover;
}


.forecast {
    width: 100px;
    padding-left: 20px;
}

#resultRow {
    padding-top: 20px;
}

.resultinfo {
    padding-top: 60px;
    padding-left: 60px;
    color: rgb(0,137,207);
}

#searchparameters {
    color: rgb(0,137,207);
    text-align: center;
    padding-top: 20px;
    
}

#flightsbanner {
    display: inline-block;
}

#flightNo {
    font-weight: bold;
}

#returnFlightNo {
    font-weight: bold;
}